@page {
  size: auto;
  margin: 0;
  height: 20000px;
}


body {
  color: white;
  background-color: #0F0F0F;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.3;
  font-weight: 600;
}

.content {
  position: relative;
  max-width: 45rem;
  margin: 0 auto 8rem auto;
}
.header {
  margin-top: 1em;
}
.header h1,
.header p {
  margin-top: -1.4em;
}

ul {
  list-style: none;
  margin-left: 1.2em;
  padding-left: 0;
}
li p {
  margin: 0;
  padding: 0;
}

li p:before {
  content: "◦";
  font-weight: 900;
  color: #FFEC01;
  padding-right: 0.3em;
  margin-left: -1em;
}

span {
  color: #20A6C7;
}

p {
  color: #CFCFCF;
}

hr {
  color: #272727;
}

div .accented {
  background-color: #20A6C7;
  width: 3em;
  height: 4em;
  margin-left: -3.2em;
  margin-bottom: -3.5em;
}
div .estimation {
  background-color: #1B1B1B;
  padding-top: 1em;
  margin-left: -3.2em;
  padding-left: 3.2em;
}
.estimation h2 {
  width: 50%;
}
div .time {
  margin-left: 10em;
}
div .time h3,
div .time p{
  margin: 0;
  margin-top: 0.3em;
}

.inlineheaders {
  display: flex;
  flex-wrap: wrap;
}
.lineitem {
  max-width: 50%;
}

.team {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0; 
}
.team p {
  font-size: 0.8em;
}

.person {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1em 1em 0;
  background-color: #0F0F0F;
  border-radius: 0.3em;
  width: 47%;
}

.person img {
  display: inline-flex;
  vertical-align: top;
  border-radius: 2em;
  margin: 1em 1em 1em 1em;
  width: 4em;
  height: 4em;
}
.person .credits {
  margin: 1em 1em 1em 0em;
}
.person .credits p {
  margin: 0;
  padding: 0;
}
.person .price {
  margin: 1em;
}
.price h2{
  color: #FFEC01;
  margin: 0;
  padding: 0;
}
.price p {
  margin: auto;
  padding: 0;
  text-align: center;
}

.utor-logo {
position: absolute;
right: 0;
top: 0;
}